<%= form_tag("/timetable",method:"post") do %>

<%= render("timetables/line_list") %>

<%= render("timetables/station_list") %>


<%= render("timetables/direction_list") %>

<%= render("timetables/date_type") %>

<button type="submit" class="btn btn-primary">検索</button>

<% end %>
