<% provide(:title,"時刻表検索") %>

<h2>時刻表検索</h2>

<%= form_tag("/timetable",method:"post") do %>
<button type="submit" class="btn btn-primary">検索</button>
<% end %>



<table class="table">
<th>発車時刻</th><th>種別</th><th>行先</th><th>備考</th>
<% @timetables.each do |timetable| %>
<tr><td><%= timetable["odpt:departureTime"] %></td><td id="train_type"><%= set_train_type(timetable["odpt:trainType"]) %></td><td><%= set_destination(timetable["odpt:destinationStation"]) %></td><td><%= timetable["odpt:notes"] %></td></tr>
<% end %>
</table>