<% provide(:title,"時刻表検索") %>

<h2>時刻表検索</h2>
<p><%= @railway %>線 <%= @station %>駅 <%= @direction %>方面 平日</p>


<%= form_tag("/timetable",method:"post") do %>
<input type="text" name="number">
<button type="submit" class="btn btn-primary">検索</button>
<% end %>

<%= render('timetables/table') %>