


<p>情報取得時刻：<%= Time.now %></p>
<br>

<!-- Bootstrapを利用したスクロール機能付きテーブル -->
<div class="container">
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<th>路線</th><th>運行状況</th>
</thead>
<tr><td>銀座線</td><td><%= @result[2]["odpt:trainInformationText"] %></td></tr>
<tr><td>丸ノ内線</td><td><%= @result[7]["odpt:trainInformationText"] %></td></tr>
<tr><td>日比谷線</td><td><%= @result[5]["odpt:trainInformationText"] %></td></tr>
<tr><td>東西線</td><td><%= @result[3]["odpt:trainInformationText"] %></td></tr>
<tr><td>千代田線</td><td><%= @result[6]["odpt:trainInformationText"] %></td></tr>
<tr><td>有楽町線</td><td><%= @result[1]["odpt:trainInformationText"] %></td></tr>
<tr><td>半蔵門線</td><td><%= @result[4]["odpt:trainInformationText"] %></td></tr>
<tr><td>南北線</td><td><%= @result[6]["odpt:trainInformationText"] %></td></tr>
<tr><td>副都心線</td><td><%= @result[0]["odpt:trainInformationText"] %></td></tr>
</table>
</div>
</div>
