<!DOCTYPE html lang="ja">
<html>
  <head>
  <meta charset="UTF-8">
    <title>東京メトロ運転状況 by TokyoMetroAPI & Ruby on Rails</title>
    <meta name="description" content="東京メトロオープンデータから支給されたデータを、Ruby on Railsで解析。そこから運転状況を抽出しています。">
    <meta name="keywords" content="東京メトロ,運転状況,Ruby on Rails,プログラミング,オープンデータ">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>

  <%= render("layouts/header") %>

    <%= yield %>

   <%= render("layouts/footer") %>


  </body>
</html>
