<!DOCTYPE html lang="ja">
<html>
  <head>
  <meta charset="UTF-8">
    <title>TokyoMetroAPI & Ruby on Rails</title>
    <meta name="description" content="東京メトロオープンデータから支給されたデータを、Ruby on Railsで解析。そこから運転状況を抽出しています。">
    <meta name="keywords" content="東京メトロ,運転状況,Ruby on Rails,プログラミング,オープンデータ">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


  </head>

  <body>

  <!-- ヘッダー -->
  <%= render("layouts/header") %>

<div id="yield">
    <%= yield %>
</div>

    <!--フッター -->
   <%= render("layouts/footer") %>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
